
@charset "utf-8";
/*CSS document*/

/* --------------------------------------------------------
Style Sheet for Robert Ashley's Portfolio Website

version: 1.1
last modified: 04.08.2016 by Robert Ashley
author: Robert Ashley
email: robashley.hello[@]gmail.com or hi[@]robashley.co.uk
website: http://robashley.co.uk
----------------------------------------------------------*/


/* --- Show grid code ---

div[class^="col-"] {
    background-color: rgba(255, 0, 0, 0.2);
    border: 1px dotted rgba(0, 0, 0, 0.5);
}

--- */

body {
	background-color: #eee;
}

.intro-content-wrap {
	background-color: rgb(249,248,247);
	padding-top:60px;
	padding-bottom:60px;
}

.carousel-content-wrap {
	background-color: #fff;
	padding-top:60px;
	padding-bottom:60px;
}

.outro-content-wrap {
	background-color:rgb(33,33,33);
	padding-top:60px;
	padding-bottom:60px;
}

/* --- CAROUSEL STYLING --- */

/* --- CAROUSEL STYLING: Hide carousel-control when on a screen below 750px */
@media (max-width: 750px) {
  
    a.left.carousel-control {
        display:none !important;
    }

    .carousel-control.right {
    	width: 100%;
    }

    .carousel-control .arrow-right {
    	visibility: hidden;
    }

}

.carousel-inner {
	position: relative;
	padding: 0;
	max-width: 790px;
	margin-right: auto;
	margin-left: auto;
	overflow: hidden
}

.carousel-caption {
    position: relative;
    width: 100%;
    text-align: left;
    left: auto;
    right: auto;
    color: rgb(17,17,17);
    text-shadow:none;
}

/* --- CAROUSEL STYLING: Control button effects removed --- */

.carousel-control.left, .carousel-control.right {
  background: none !important;
  filter: progid: none !important;
  outline: 0;
  color: #000;
  text-shadow:none;
  opacity:1;
 }


.carousel:hover .carousel-control {
  visibility: visible;
}

/* --- CAROUSEL STYLING: Original control button positioning
.carousel-control .glyphicon-chevron-left {
	top: 39.5%;
}

.carousel-control .glyphicon-chevron-right {
	top: 39.5%;
} 
 --- */

/* --- CAROUSEL STYLING: Carousel Fading Effect instead of scroll --- */

.carousel-fade .carousel-inner .item {
  -webkit-transition-property: opacity;
          transition-property: opacity;
}
.carousel-fade .carousel-inner .item,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  opacity: 0;
}
.carousel-fade .carousel-inner .active,
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}
.carousel-fade .carousel-inner .next,
.carousel-fade .carousel-inner .prev,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}
.carousel-fade .carousel-control {
  z-index: 2;
}

/* --- CAROUSEL STYLING: Mobile overlay --- */
#overlay {
    z-index: 10;
    position: absolute; 
    display: none;
    width: 100%;
    background: rgba(0, 0, 0, 0.6);
    color: #fff;

}

#overlay p {
    text-align: center;
    line-height: 30px;
    padding-top: 25%;
}

#overlay p svg {
    fill:rgb(255,255,255);
}

/* --- ARROW POSITIONING --- */

/* ---  ARROW POSITIONING: Scroll to top arrow --- */
@media (min-width: 992px) {

 .scrollToTop svg {
    float:right;
  } 

}

/* --- ARROW POSITIONING: Carousel arrows --- */
.carousel-control {
  width: 50%;
}

.carousel-control .arrow-left,  
.carousel-control .arrow-right {
  position: absolute;
  top: 39.5%;
  display: inline-block;
  margin-top: -10px;
}

.arrow-left {
  content: url(../images/arrow-left.svg);
    left: 25%;

}

.arrow-right {
  content: url(../images/arrow-right.svg);
  right: 25%;

}

/* --- ARROW POSITIONING: Scroll down arrow --- */

.row {
    position: relative;
}

@media (min-width: 992px) {

  .scroll-down-arrow {
    position: absolute;
    bottom:0;
    right:0;

  } 

 .scroll-down-arrow svg{
    float:right;
  } 

}

/* --- ARROW POSITIONING: On hover --- */

a.scrollToTop:hover svg polygon{
    fill: rgb(249,221,90);
  } 

/* -- FONTS -- */ 

h1 {
  font-family: "Farnham Disp Reg",'georgia', serif;
  font-style: normal;
  font-weight: normal; 
  font-size: 28px;
  line-height: 40px;
  margin-bottom: 30px;
}

h2 {
  font-family: "Farnham Disp Reg",'georgia', serif;
  font-style: normal;
  font-weight: normal; 
  font-size: 28px;
  line-height: 40px;
  margin-top: 0px;
}

h3 {
  font-family: "Benton Sans Lt",'helvetica', 'arial', sans-serif;
  font-style: normal;
  font-weight: normal; 
  font-size: 20px;
  letter-spacing: 0.1px;
}

h4 {
  font-family: "Benton Sans Lt",'helvetica', 'arial', sans-serif;
  font-style: normal;
  font-weight: normal; 
  font-size: 28px;
  line-height: 40px;
  margin-top: 0px;
}

p {
  font-family: "Benton Sans Lt",'helvetica', 'arial', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 40px;
  letter-spacing: 0.1px;
}

@media (max-width: 768px) {

       h1
       {
          font-size:20px;
          line-height: 36px;

       }

       h2
       {
          font-size:20px;
          line-height: 36px;

       }

       h3
       {
          font-size:16px;
       }

       h4
       {
          font-size:20px;
          line-height: 36px;

       }

       p {

          font-size: 16px;
          line-height: 36px;

       }
}

/* -- FONTS: Color Intro Section -- */
.intro-content-wrap {

  color: rgb(17,17,17);
}

/* -- FONTS: Color Carousel Section -- */
.carousel-content-wrap {

  color: rgb(17,17,17);
}

/* -- FONTS: Color Outro Section -- */
.outro-content-wrap {

  color: rgb(240,240,240);
}

/* -- FONTS: Font awesome -- */
i.fa {
    color: rgb(255,255,255);
    margin-right: 10px;

}


