
@charset "utf-8";
/*CSS document*/

/* --------------------------------------------------------
Style Sheet for Robert Ashley's Portfolio Website

version: 2.1
last modified: 28.04.2019 by Robert Ashley
author: Robert Ashley
email: robashley.hello[@]gmail.com or hi[@]robashley.co.uk
website: http://robashley.co.uk
----------------------------------------------------------*/

/* --- Show grid code ---

div[class^="col-"] {
    background-color: rgba(255, 0, 0, 0.2);
    border: 1px dotted rgba(0, 0, 0, 0.5);
}
--- */

body {
	background-color: rgb(255,255,255);
}

::selection {
  background:0 0;
  color:rgb(29,161,242) /* WebKit/Blink Browsers */
}
::-moz-selection {
  background:0 0;
  color:rgb(29,161,242) /* Gecko Browsers */
}

.navigation-bar {
  background: transparent;
  padding-top:30px;
  position: fixed;
  padding-bottom: 30px;
  top: 0;
  left: 0;
  z-index: 1;
  height: 10%;
  width: 100%;
}

.intro-content-wrap {
	background-color: rgb(255,255,255);
	padding-top:100px;
	padding-bottom:60px;
}

/* --- MODAL STYLING --- */

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 2; /* Sit on top */
    padding-top: 0;  /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: rgb(33,33,33);
    margin: auto;
    padding: 0;
    border: 0px;
width: -moz-calc(100%);
width: -webkit-calc(100%);
width: -o-calc(100%);
width: calc(100%);
height: auto;
/* max-width: 630px; */
    /*width: 80%; */
    /*box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);*/
    -webkit-animation-name: slideIn;
    -webkit-animation-duration: 0.7s;
    animation-name: slideIn;
    animation-duration: 0.7s
}

/* Add Animation */
@-webkit-keyframes slideIn {
    from {bottom:-500px; opacity:1}
    to {bottom:0; opacity:1}
}

@keyframes slideIn {
    from {bottom:-500px; opacity:1}
    to {bottom:0; opacity:1}
}

/* The Close Button */
.close {
    color: #ffffff;
    float: right;
    font-size: 36px;
}

.close:hover,
.close:focus {
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 30px 16px 2px;
    background-color: rgb(33,33,33);
    color: #fff;
    border: none;
}

.modal-body {
    padding: 2px 16px;
    color: #fff;
}

.modal-footer {
    padding: 32px 16px;
    background-color: rgb(33,33,33);
    color: #fff;
    border: none;
}

/* --- END MODAL STYLING --- */


iframe { 
  display:block;
  margin: 0 auto;

}

.intro-content-wrap h4 {
  display:block;
  padding-top:20px;
}

.image-box {

}


.hideme
{
    opacity:0;
}


/* -- FONTS -- */ 

h1 {
  font-family: "Cormorant",  georgia, serif;
  font-style: normal;
  font-weight: normal; 
  font-size: 24px;
  line-height: 40px;
  letter-spacing: 0.01em;
  margin-top:0;
  margin-bottom: 30px;
}

h2 {
  font-family: "Formular", georgia, serif;
  font-style: normal;
  font-weight: 300; 
  font-size: 20px;
  line-height: 40px;
  margin-top: 0px;
}

h3 {
  font-family: "Cormorant", georgia, serif;
  display: inline;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 40px;
  letter-spacing: 0.1px;
}

h4 {
  font-family: "Formular", georgia, serif;
  display: inline;
  font-style: normal;
  font-weight: 300; 
  font-size: 18px;
  letter-spacing: 0.1px;
}

p {
  font-family: "Cormorant", georgia, serif;
  font-style: normal;
  font-weight: 300; 
  font-size: 48px;
  line-height: 56px;
  margin-top: 0px;
}

  button  {
  border:none;
  background-color:transparent;
  margin-top: 0px;

} 

button:visited {
  outline:0;
  color: #333;
} 

button:active {
  outline:0;
  color: #333;
} 

button:focus {
  outline:0;
}


button#myBtn {
  /* float: right; */
}

@media (max-width: 768px) {

       h1
       {
          font-size:18px;
          line-height: 30px;

       }

       h2
       {
          font-size:18px;
          line-height: 30px;

       }

       h3
       {
          font-size:18px;
          line-height: 30px;

       }

       h4
       {
          font-size:13.5px;
          line-height: 30px;

       }

       p {

          font-size: 33px;
          line-height: 39px;

       }

       .close {
          font-size: 27px;
       } 

       .navigation-bar {

        padding-left: 15px;
        padding-right: 15px;

       }

       .intro-content-wrap {

        padding-left: 15px;
        padding-right: 15px;


       }
}

/* -- FONTS: Color Intro Section -- */
.intro-content-wrap {
  color: rgb(17,17,17);
}

/* -- FONTS: Color Carousel Section -- */
.carousel-content-wrap {
  color: rgb(17,17,17);
}

/* -- FONTS: Color Outro Section -- */
.outro-content-wrap {
  color: rgb(240,240,240);
}


/* -- FONTS: a link states -- */
h4 a{
    color: rgb(240,240,240);

}
a {
    color: rgb(150,150,150);
}

a:hover {
    color: rgb(150,150,150);
    text-decoration: none;
}

a:active {
    color: rgb(230,210,80);
    text-decoration: none;
}

