
@charset "utf-8";
/*CSS document*/

/* --------------------------------------------------------
Style Sheet for Website's Name

version: 2.2
last modified: 13.11.2008 by Someone Else
author: Author's Name
email: author@domain.com
website: http://yourwebsite.com
----------------------------------------------------------*/


/* Show grid code */

div[class^="col-"] {
    background-color: rgba(255, 0, 0, 0.2);
    border: 1px dotted rgba(0, 0, 0, 0.5);
}
/* ---- */

