
@charset "utf-8";
/*CSS document*/

/* --------------------------------------------------------
Style Sheet for Robert Ashley's Portfolio Website

version: 1.0
last modified: 26.07.2016 by Robert Ashley
author: Robert Ashley
email: robashley.hello[@]gmail.com or hi[@]robashley.co.uk
website: http://robashley.co.uk
----------------------------------------------------------*/


/* Show grid code */

div[class^="col-"] {
    background-color: rgba(255, 0, 0, 0.2);
    border: 1px dotted rgba(0, 0, 0, 0.5);
}
/* ---- */

body {
	background-color: #eee;
}

.intro-content-wrap {
	background-color: #eee;
	padding-top:60px;
	padding-bottom:60px;
}

.carousel-content-wrap {
	background-color: #fff;
	padding-top:60px;
	padding-bottom:60px;
}

.outro-content-wrap {
	background-color: #eee;
	padding-top:60px;
	padding-bottom:60px;
}